@media only screen and (min-width: 0px) {
    .blog-posts {
        min-height: 100vh;
        div {
            margin: 0 auto 1em auto;
            width: 90%;
            p {
                text-align: left;
            }
        }
        .image-container {
            // height: 200px;
            width: 100%;
        }
    }
}
@media only screen and (min-width: 768px) {
    .blog-posts {
        div {
            width: 40%;
        }
        .image-container {
            // height: 300px;
            width: 100%;
        }
    }
}