.portfolio {
  background: #f5f5f5;
  small {
    display: none;
  }
  h1 {
    font-size: 3vh;
    margin: 0.5em 0;
  }
}
@media only screen and (min-width: 1024px) {
  .portfolio {
    small {
      display: block;
    }
    .portfolio-experiences {
      display: flex;
      flex-wrap: wrap;
      max-width: 900px;
      margin: 0 auto;
    }
  }
}
