@import '../../index.scss';
@media only screen and (min-width: 0px) {
    #blog-post {
        min-height: 100vh;
        text-align: left;
        width: 100%;
        h1 {
            color: $primary-color;
            font-size: 10vw;
        }
        h3, span {
            color: #aaa;
            font-size: 4vw;
            margin: 0.5em auto;
        }
        img {
            position: absolute;
            top: 70px;
            left: 0;
            right: 0;
            max-height: 50vh;
        }
        .blog-body {
            background: #fff;
            border-radius: 3px;
            padding: 0.5em;
            width: 95%;
            p > h1 {
                font-size: 6vw;
            }
            p > * {
                margin: inherit;
                padding: inherit;
            }
        }
    }
}
@media only screen and (min-width: 768px) {
    .blog-posts {
        #blog-post {
            width: 70%;
            display: flex;
            max-height: 50vh;
            flex-direction: column;
            img {
                position: inherit;
            }
            h1 {
                font-size: 5vw;
            }
            h3, span {
                font-size: 1.5vw;
            }
            .blog-body {
                margin-top: 1em;
                width: 100%;
            }

    }
    }
}