@import '../../index.scss';
@media only screen and (min-width: 0px) {
    .contact {
        background: $primary-background-color-light;
        h1 {
            color: #fff;
        }
    }
}
@media only screen and (min-width: 768px) {
    .contact {
        h1 {
            font-size: 1.5em;
        }
        form {
            margin: 0 auto;
            padding: 1em 0;
            max-width: 385px;
        }
    }
}