@import "../../index.scss";
@media only screen and (min-width: 0px) {
  .experience {
    color: #fff;
    margin: 1em auto;
    width: 90%;
    .details {
      font-size: 0.8em;
    }
    p {
      margin: 0.5em auto;
      text-align: left;
    }
    .experience-buttons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 0.5em;
      a {
        width: 100%;
      }
      button {
        background: $primary-color;
        border: none;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        font-weight: bold;
        padding: 12px;
        width: 100%;
        transition: 0.35s all;
        &:hover {
          background: $primary-color-light
        }
      }
      .blogButton {
        @extend button;
        background: $primary-color;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .experience {
    width: 80%;
    .details {
      font-size: 1.2em;
    }
  }
}
@media only screen and (min-width: 1024px) {
  .experience {
    cursor: pointer;
    margin: 1em;
    position: relative;
    overflow: hidden;
    width: 45%;
    h1,
    p {
      color: #fff;
      * {
        color: #fff;
      }
    }
    .details {
      background: rgba(40, 44, 52, 0.8);
      font-size: 1em;
      padding: 5px;
      position: absolute;
      min-height: 100%;
      top: -200%;
      transition: all 0.35s ease-in-out;
      h1 {
        font-size: inherit;
      }
      .experience-buttons {
        a {
          width: 50%;
         .blogButton {
           padding: 8px;
         }
        }
      }
    }
    .is-hovering {
      top: 0;
    }
  }
}
